@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div>
    <div class="h3 bottomMarginDefault">Order a framed version of your favorite picture</div>
    <div class="text bottomMarginSmall">We got this address on record for you:</div>
    <div class="text text-info bottomMarginSmall">@Model.Address</div>
    <div class="text">Please contact support, if address isn't correct</div>
</div>
